@page
@model CrunchTime_Web.Pages.ScheduleCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScheduleModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.ScheduleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.ScheduleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.HoursStudied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.HoursStudied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.DateOfStudy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.DateOfStudy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.RemainingStudyHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.RemainingStudyHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.ModuleWeekDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.ModuleWeekDay)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleModel.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleModel.Module.ModuleModelID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ScheduleModel.ScheduleModelID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
